.mainCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45em;
    justify-content: space-around;
}

.sixCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 85em;
}

.pagination {
    position: fixed;
    top: 83%;
    right: 43%;
}

.all-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}