.sixCards {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-container {
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}